/* 
  GENERAL 
*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

.container{
  font-family: 'Rubik', sans-serif;
}



/* 
  HEADER 
*/
 header{
  position: fixed;
  /* dovevo dare le coordinate enche se non cambia nulla però vanno date (in questo caso sono top: 0 e left: 0)  */
  height: 70px;
  width: 100%; 
  z-index: 999;
  text-align: right;
}

nav ul li{
  display: inline-block;
}

/* Vecchio codice  */
/* nav ul li{
  list-style: none;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  margin: 40px 20px 0;
  box-shadow: 0 0 5px black;
} 

nav ul li:hover{
  box-shadow: 0 0 10px black;
}

/* nav ul li a{
  display: inline-block;
  text-decoration: none;
  padding: 15px 20px;
  color: black;
  background-color: white;
}  */
/* /Vecchio codice  */

nav ul li a{
  display: block;
  width: 50px;
  height: 50px;
  background-color: white;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  color: black;
  border-radius: 50%;
  margin: 20px 20px;
  box-shadow: 0 0 5px black;
} 

nav ul li a:hover{
  box-shadow: 0 0 10px black;
}

nav ul li a:active{
  background-color: darkgrey;
  transform: translate(0, 5px);
  /* posso dare un margin top per fare l'effetto che si schiaccia ma avrei dovuro dare float e non inline block */
  /* in questo caso ci vuole treansform translate  */
  
}



/* 
  MAIN 
*/
.box{
  width: 100%; /* La larghezza non serve */
  height: 100vh;
  position: relative;
}

.box .content-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box .content-box img{
  width: 100%;
}

.box .content-box h3{
  padding: 0 40px;
  /* Avrei potuto dare ad h3 un font size 3vw così si ridimensiona quando rimpicciolisco la oagina  */
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFFF00;
  text-align: center;
  word-spacing: 30px;
}

#shoe-3 .content-box h3{
  color: #008001;;
}

#shoe-1{
  background-color: #FF0000;
}

#shoe-2{
  background-color: #008001;
}

#shoe-3{
  background-color: #FFFF00;
}